.main_body {
    background-color: #ececec;
    .inner_body {
        background-color: #ffffff;
        position: relative;
        top: -150px;
        padding-bottom: 25px;
        .inner_body_child {
            width: 930px;
            margin: 0 auto;
            // outline: 1px solid red;
            overflow: hidden;
            .main_img {
                width: 930px;
                height: 360px;
                position: relative;
                img {
                    display: block;
                    margin-top: 15px;
                }
                & {
                    border-bottom: 5px solid #465c63;
                }
                .body_text {
                    width: 350px;
                    height: 250px;
                    background-color: #0a0a0a;
                    position: absolute;
                    top: 30px;
                    right: 30px;
                    padding: 30px 25px;
                    h3 {
                        font-size: 22px;
                        color: #d5d5d5;
                    }
                    p {
                        margin-top: 20px;
                        color: #d5d5d5;
                    }
                    a {
                        float: right;
                        font-size: 14px;
                        color: #a8acad;
                        background-color: #1c2c32;
                        border: 1px solid #465c63;
                        padding: 10px;
                        border-radius: 10px;
                        margin-top: 25px;
                    }
                }
            }
            .title_div {
                background-color: #1c2c32;
                overflow: hidden;
                ul {
                    margin: 25px 0;
                    li {
                        margin-right: 100px;
                        display: inline-block;
                        // background-image: url(../img/small_logo2.png);
                        background-repeat: no-repeat;
                        a {
                            color: #ffffff;
                            font-size: 18px;
                            text-transform: capitalize;
                        }
                    }
                }
            }
        }
    }
}