.main_header_area {
    .header_bottom {
        background-color: $header_bottom_color;
        height: 380px;
        .innner_header_bottom {
            overflow: hidden;
           .header_bottom_left {
            float: left;
            margin-top: 38px;
           }
           .header_bottom_right {
               float: right;
               margin-top: 50px;
               ul {
                
                   li {
                       display: inline-block;
                       margin-left: 40px;
                       span {
                        color: #999999;
                        font-size: 12px;
                    }
                       a {
                           font-size: 14px;
                           text-transform: uppercase;
                           color: #ffffff;
                           &:hover {
                               color: #97aab0;
                               
                           }
                       }
                   }
               }
           }
        }
    }
}