* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    // border: 1px solid black;
}

ul {
    li {
        list-style-type: none;
    }
}

a {
    text-decoration: none;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }